In [259]:
import pandas as pd
import re

In [297]:
original = pd.read_excel("SEIA2/seia_3_5_2019.xls")

In [298]:
original.head()

,Nombre,Tipo,Región,Comunas,Provincias,Tipología,Titular,Inversión (MMU$),Fecha presentación,Estado,Fecha calificación,Sector productivo,Latitud punto representativo,Longitud punto representativo
0,Continuidad Operacional Mina Dos Amigos,DIA,Tercera,Vallenar,Chaqaral-Copiapó-Huasco,i1,Compañia Explotadora de Minas SpA,10.0,2019-05-03 21:10:00,En Admisión,NaT,Minería,-29.000000,-71.000000
1,Construcción Hospital Provincia Cordillera,DIA,RM,Puente Alto,Chacabuco-Santiago-Talagante-Melipilla-Maipo-C...,h1,SACYR CHILE S.A..,152.0,2019-05-03 20:48:48,En Calificación,NaT,Inmobiliarios,-33.613423,-70.600776
2,Modificación de Proyecto Técnico. Centro de En...,DIA,Undécima,Aysén,Aysen-Coyhaique-General Carrera-Capitan Prat,n3,Salmones ICE VAL Ltda.,2.0,2019-05-03 16:37:22,En Admisión,NaT,Pesca y Acuicultura,-45.000000,-73.000000
3,"CULTIVO COMERCIAL DE DORADO (Seriola lalandi),...",DIA,Tercera,Huasco,Chaqaral-Copiapó-Huasco,n3,Luis Alejandro Salgado Ibáñez,7.0,2019-05-03 15:59:59,No Admitido a Tramitación,2019-05-02 15:59:59,Pesca y Acuicultura,-28.325610,-71.199366
4,"CULTIVO COMERCIAL DE DORADO (Seriola lalandi),...",DIA,Tercera,Huasco,Chaqaral-Copiapó-Huasco,n3,Luis Alejandro Salgado Ibáñez,7.0,2019-05-03 15:59:59,No Admitido a Tramitación,2019-05-02 15:59:59,Pesca y Acuicultura,-28.153737,-71.179471

In [299]:
original = original.drop(['Región','Provincias'], axis=1)
original.head()

,Nombre,Tipo,Comunas,Tipología,Titular,Inversión (MMU$),Fecha presentación,Estado,Fecha calificación,Sector productivo,Latitud punto representativo,Longitud punto representativo
0,Continuidad Operacional Mina Dos Amigos,DIA,Vallenar,i1,Compañia Explotadora de Minas SpA,10.0,2019-05-03 21:10:00,En Admisión,NaT,Minería,-29.000000,-71.000000
1,Construcción Hospital Provincia Cordillera,DIA,Puente Alto,h1,SACYR CHILE S.A..,152.0,2019-05-03 20:48:48,En Calificación,NaT,Inmobiliarios,-33.613423,-70.600776
2,Modificación de Proyecto Técnico. Centro de En...,DIA,Aysén,n3,Salmones ICE VAL Ltda.,2.0,2019-05-03 16:37:22,En Admisión,NaT,Pesca y Acuicultura,-45.000000,-73.000000
3,"CULTIVO COMERCIAL DE DORADO (Seriola lalandi),...",DIA,Huasco,n3,Luis Alejandro Salgado Ibáñez,7.0,2019-05-03 15:59:59,No Admitido a Tramitación,2019-05-02 15:59:59,Pesca y Acuicultura,-28.325610,-71.199366
4,"CULTIVO COMERCIAL DE DORADO (Seriola lalandi),...",DIA,Huasco,n3,Luis Alejandro Salgado Ibáñez,7.0,2019-05-03 15:59:59,No Admitido a Tramitación,2019-05-02 15:59:59,Pesca y Acuicultura,-28.153737,-71.179471

In [300]:
original = original.drop(original[original.Estado=='En Admisión'].index)
original.head()

,Nombre,Tipo,Comunas,Tipología,Titular,Inversión (MMU$),Fecha presentación,Estado,Fecha calificación,Sector productivo,Latitud punto representativo,Longitud punto representativo
1,Construcción Hospital Provincia Cordillera,DIA,Puente Alto,h1,SACYR CHILE S.A..,152.0,2019-05-03 20:48:48,En Calificación,NaT,Inmobiliarios,-33.613423,-70.600776
3,"CULTIVO COMERCIAL DE DORADO (Seriola lalandi),...",DIA,Huasco,n3,Luis Alejandro Salgado Ibáñez,7.0,2019-05-03 15:59:59,No Admitido a Tramitación,2019-05-02 15:59:59,Pesca y Acuicultura,-28.325610,-71.199366
4,"CULTIVO COMERCIAL DE DORADO (Seriola lalandi),...",DIA,Huasco,n3,Luis Alejandro Salgado Ibáñez,7.0,2019-05-03 15:59:59,No Admitido a Tramitación,2019-05-02 15:59:59,Pesca y Acuicultura,-28.153737,-71.179471
5,Edificio Irarrazaval N°1171,DIA,Ñuñoa,h1,ARRENDAMIENTOS IRARRAZABAL 1171 SPA,30.0,2019-05-02 17:49:44,En Calificación,NaT,Inmobiliarios,-33.453632,-70.618586
6,"CULTIVO COMERCIAL DE DORADO (Seriola lalandi),...",DIA,Caldera,n3,Luis Alejandro Salgado Ibáñez,7.0,2019-05-02 15:59:59,No Admitido a Tramitación,2019-05-02 15:59:59,Pesca y Acuicultura,-27.214968,-70.969612

In [301]:
original = original.sort_values(by='Fecha presentación')

In [302]:
original.reset_index(drop=True,inplace=True)
original.head()
#original.iloc[100:110]

,Nombre,Tipo,Comunas,Tipología,Titular,Inversión (MMU$),Fecha presentación,Estado,Fecha calificación,Sector productivo,Latitud punto representativo,Longitud punto representativo
0,Fundición REFIMET Antofagasta,EIA,Antofagasta,t,FUNDICION REFIMET S.A.,60.0,1992-06-13 15:59:59,Aprobado,1993-09-13 15:59:59,Otros,-23.820454,-70.315629
1,Cobre en Cátodos en Planta Coloso-Antofagasta,EIA,Antofagasta,i4,MINERA ESCONDIDA LIMITADA,250.0,1992-07-29 15:59:59,Aprobado,1993-01-04 14:59:59,Minería,-23.762165,-70.469255
2,Planta Integrada Productos Tissue,EIA,Talagante,m4,CMPC Tissue S.A.,60.0,1993-04-02 15:59:59,Aprobado,1993-09-16 15:59:59,Forestal,-33.706950,-70.935728
3,Zaldivar,EIA,Antofagasta,i4,Compañía Minera Zaldívar SpA,600.0,1993-05-01 15:59:59,Aprobado,1993-10-08 15:59:59,Minería,-24.212938,-69.051889
4,Las Luces,DIA,Taltal,i4,Minera Las Cenizas S.A.,15.0,1993-06-15 15:59:59,Aprobado,1993-11-29 14:59:59,Minería,-25.699649,-70.499074

In [134]:
#comc = original[original['Comunas'].str.match(r'^[a-z A-Z]+-([a-z A-Z]+)?$',na=False)]
#comc = comc[~comc['Comunas'].str.contains('Til')]
#comc[['Comunas']].head(1000)

,Nombre,Tipo,Comunas,Tipología,Titular,Inversión (MMU$),Fecha presentación,Estado,Fecha calificación,Sector productivo,Latitud punto representativo,Longitud punto representativo
100,Sistema de Transmisión Colbun-Alto Jahuel 220 KV,EIA,Machalí-Buin-Codegua-Rengo-Chimbarongo-Colbún,b1,Colbún Transmisión SA,72.00,1996-04-30 15:59:59,Aprobado,1997-01-17 14:59:59,Energía,-35.685375,-71.381807
101,Relleno Sanitario Sector Colihues - La Yesca,EIA,Requinoa,o5,Ilustre Municipalidad de Rancagua,0.17,1996-05-07 15:59:59,Aprobado,1996-11-15 14:59:59,Saneamiento Ambiental,-34.231782,-70.704146
102,Centro Invernal Valle Nevado 3000,EIA,Lo Barnechea,g4,Empresa Spie Batignolles,150.00,1996-06-10 15:59:59,Aprobado,1997-08-11 15:59:59,Inmobiliarios,-33.353552,-70.248715
103,Proyecto Lagunas Soquimich-Lodo S.A.,EIA,Pozo Almonte,i4,SQM IODO S.A.,16.89,1996-06-17 15:59:59,Aprobado,1997-01-31 14:59:59,Minería,-20.951725,-69.671107
104,Ampliación Planta de Cemento INACESA,EIA,Antofagasta,k1,Bio Bio Cementos S.A.,46.00,1996-07-08 15:59:59,Aprobado,1998-01-23 14:59:59,Instalaciones fabriles varias,-23.781178,-70.318845
105,Ampliación Astillero de Caldera,EIA,Caldera,f3,Astilleros Maestranzas Navales de Caldera,0.20,1996-07-08 15:59:59,Aprobado,1997-04-04 15:59:59,Infraestructura Portuaria,-27.063102,-70.831287
106,Planta de Remanufacturera Innocenti Gajardo,EIA,Los Angeles,m3,Innocenti y Gajardo Ltda.,2.60,1996-07-22 15:59:59,Aprobado,1997-04-07 15:59:59,Forestal,-37.550697,-72.556500
107,Estudio Integral Tranques Relaves Pastos Largos,EIA,Vicuña,i4,CIA. MINERA BARRICK CHILE LTDA.,2.81,1996-08-14 15:59:59,Aprobado,1997-01-16 14:59:59,Minería,-29.792534,-69.998943
108,Central Termoeléctrica de Ciclo Combinado Cent...,EIA,Quillota,c,Compañía Eléctrica Tarapacá S.A.,200.00,1996-08-14 15:59:59,Aprobado,1997-05-05 15:59:59,Energía,-32.937031,-71.316290
109,Central Termoeléctrica de Ciclo Combinado Nehu...,EIA,Quillota,c,Colbún S.A.,220.00,1996-08-16 15:59:59,Aprobado,1997-05-05 15:59:59,Energía,-32.936992,-71.321785

In [303]:
comunas = []

for i in range(len(original)):
    try:
        split = original.iloc[i]['Comunas'].split('-')
    except:
        print(i,'NaN?')
    tilted = False
    for s in split:
        if (s=='Til'):
            if(not tilted):
                comunas.append([i,'TILTIL'])
                tilted=True
        else:
            comunas.append([i,s.upper()])

comunas_nuevas = pd.DataFrame(comunas, columns = ['id_proyecto', 'comuna'])

1307 NaN?
2977 NaN?

In [304]:
comunas_nuevas.head()

   id_proyecto       comuna
0            0  ANTOFAGASTA
1            1  ANTOFAGASTA
2            2    TALAGANTE
3            3  ANTOFAGASTA
4            4       TALTAL

In [305]:
codigos_comuna = pd.read_csv("Localidades/comunas.csv")
codigos_comuna['Nombre Comuna'] = codigos_comuna['Nombre Comuna'].str.upper()
codigos_comuna.head()

   Código Comuna 2017  Nombre Comuna  Código Provincia
0                1101        IQUIQUE                11
1                1107  ALTO HOSPICIO                11
2                1401   POZO ALMONTE                14
3                1402         CAMIÑA                14
4                1403       COLCHANE                14

In [306]:
codigos_comuna = codigos_comuna.drop(['Código Provincia'], axis=1)

In [307]:
final = comunas_nuevas.join(codigos_comuna.set_index('Nombre Comuna'),on='comuna')
final = final.rename(columns = {'comuna':'nombre_comuna','Código Comuna 2017':'comuna'})
#final['comuna'] = final['comuna'].astype(int) 
#final.loc[final.comuna.isnull()].drop_duplicates(subset='nombre_comuna')
final.head()

   id_proyecto nombre_comuna   comuna
0            0   ANTOFAGASTA   2101.0
1            1   ANTOFAGASTA   2101.0
2            2     TALAGANTE  13601.0
3            3   ANTOFAGASTA   2101.0
4            4        TALTAL   2104.0

In [308]:
#Reemplazar valores de comunas_nuevas por valores correspondientes a los codigos
comunas_fixed = comunas_nuevas.replace({'SAN JOSÉ DE LA MARIQUINA':'MARIQUINA',
                                        'SAN JOSÉ DE LA MARIQU':'MARIQUINA',
                                        'REQUINOA':'REQUÍNOA',
                                        'REQUI':'REQUÍNOA',
                                        'LA CALERA':'CALERA',
                                        'AYSÉN':'AISÉN',
                                        'COYHAIQUE':'COIHAIQUE',
                                        'COYHAI':'COIHAIQUE',
                                        'LLAY LLAY':'LLAILLAY',
                                        'PUERTO SAAVEDRA':'SAAVEDRA',
                                        'LAS GUAITECAS':'GUAITECAS',
                                        'TREHUACO':'TREGUACO',
                                        'VILLA OHIGGINS':'O\'HIGGINS'})
#Completar valores incompletos de ser posible
fix = final.loc[final.comuna.isnull()].drop_duplicates(subset='nombre_comuna')['nombre_comuna'].tolist()
rep = {}
for n in fix:
    lu =codigos_comuna.loc[codigos_comuna['Nombre Comuna'].str.match(re.escape(n)+'.*')]
    if len(lu)==1:
        rep[n]=lu.iloc[0]['Nombre Comuna']
comunas_fixed = comunas_fixed.replace(rep)
comunas_fixed.head()

   id_proyecto       comuna
0            0  ANTOFAGASTA
1            1  ANTOFAGASTA
2            2    TALAGANTE
3            3  ANTOFAGASTA
4            4       TALTAL

In [309]:
codigos_comuna.loc[codigos_comuna['Nombre Comuna'].str.contains('PICHI')]

    Código Comuna 2017 Nombre Comuna
90                6113    PICHIDEGUA
95                6201     PICHILEMU

In [312]:
intermedio = comunas_fixed.join(codigos_comuna.set_index('Nombre Comuna'),on='comuna')
intermedio = intermedio.rename(columns = {'comuna':'nombre_comuna','Código Comuna 2017':'comuna'})
#nombres de comunas incompletables
incomp = intermedio.loc[intermedio.comuna.isnull()].drop_duplicates(subset='nombre_comuna')
incomp.head()
#print(len(incomp))

      id_proyecto nombre_comuna  comuna
3416         2857                   NaN
3742         3117            PI     NaN
3815         3162          PEÑA     NaN
4079         3369            TI     NaN
5143         4267           LO      NaN

In [313]:
estesi = intermedio.drop(intermedio.loc[intermedio.comuna.isnull()].index)

In [314]:
estesi.head()

   id_proyecto nombre_comuna   comuna
0            0   ANTOFAGASTA   2101.0
1            1   ANTOFAGASTA   2101.0
2            2     TALAGANTE  13601.0
3            3   ANTOFAGASTA   2101.0
4            4        TALTAL   2104.0

In [315]:
comunasEnProyectos = estesi.drop(['nombre_comuna'],axis=1)
comunasEnProyectos['comuna'] = comunasEnProyectos['comuna'].astype(int)
comunasEnProyectos.set_index('id_proyecto',drop=True, inplace=True)
comunasEnProyectos.head()

             comuna
id_proyecto
0              2101
1              2101
2             13601
3              2101
4              2104

In [320]:
proyectos = original.drop(['Comunas'],axis=1)[['Nombre','Tipo','Tipología','Titular','Inversión (MMU$)','Estado','Fecha presentación','Fecha calificación','Sector productivo','Latitud punto representativo','Longitud punto representativo']]

In [321]:
proyectos.head()

,Nombre,Tipo,Tipología,Titular,Inversión (MMU$),Estado,Fecha presentación,Fecha calificación,Sector productivo,Latitud punto representativo,Longitud punto representativo
0,Fundición REFIMET Antofagasta,EIA,t,FUNDICION REFIMET S.A.,60.0,Aprobado,1992-06-13 15:59:59,1993-09-13 15:59:59,Otros,-23.820454,-70.315629
1,Cobre en Cátodos en Planta Coloso-Antofagasta,EIA,i4,MINERA ESCONDIDA LIMITADA,250.0,Aprobado,1992-07-29 15:59:59,1993-01-04 14:59:59,Minería,-23.762165,-70.469255
2,Planta Integrada Productos Tissue,EIA,m4,CMPC Tissue S.A.,60.0,Aprobado,1993-04-02 15:59:59,1993-09-16 15:59:59,Forestal,-33.706950,-70.935728
3,Zaldivar,EIA,i4,Compañía Minera Zaldívar SpA,600.0,Aprobado,1993-05-01 15:59:59,1993-10-08 15:59:59,Minería,-24.212938,-69.051889
4,Las Luces,DIA,i4,Minera Las Cenizas S.A.,15.0,Aprobado,1993-06-15 15:59:59,1993-11-29 14:59:59,Minería,-25.699649,-70.499074

In [322]:
comunasEnProyectos.to_csv("SEIA2/ForDB/comunas_de_proyectos.csv")
proyectos.to_csv("SEIA2/ForDB/proyectos.csv")